<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Material Design for Bootstrap fonts and icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

  <!-- Material Design for Bootstrap CSS -->
  <link rel="stylesheet"
        href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
        integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/todo.css') }}">
  <title>TODO Webapp</title>
</head>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new todo form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="todoForm">
          <div class="form-group">
            <label for="exampleInput">Todo</label>
            <input class="form-control form-control-lg" name="text" type="text" placeholder="type your text here">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="postTodo()" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>
<!-- end Modal -->
<body>
<main role="main" class="container">

  <div class="my-3 p-3 bg-white rounded box-shadow">
    <small class="d-block text-right mt-3">
      <a href="#" data-toggle="modal" data-target="#exampleModal">Add New</a>
    </small>

    <h6 class="border-bottom border-gray pb-2 mb-0">My Todo List</h6>
    <div class="table-responsive">
      <div id="toolbar">
        <button id="remove" class="btn btn-danger" disabled>
            <i class="glyphicon glyphicon-remove"></i> Delete
        </button>
    </div>
      <table id="table" data-toggle="table" data-classes="table table-no-bordered table-striped"
             data-show-columns="true"
             data-checkbox="true"
             data-search="true"
             data-show-toggle="true"
             data-pagination="true"
             data-sort-name="id"
             data-id-field="id"
             data-url="/todo"
      >
        <thead>
        <tr>
          <th data-checkbox="true"></th>
          <th data-field="id" data-visible="false">ID</th>
          <th data-field="text" data-sortable="true"></th>
        </tr>
        </thead>
        <tbody>
        {% for todo in todos %}
          <tr>
            <td></td>
            <td>{{ todo.id }}</td>
            <td>{{ todo.text }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</main>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
        integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
        integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
        crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
<script src="{{ url_for('static', filename='js/modal.js') }}"></script>
<script src="{{ url_for('static', filename='js/table.js') }}"></script>
</html>